{% extends 'layout.twig' %}

{% block opcoes %}
    <ul class="nav" xmlns="http://www.w3.org/1999/html">
        <li><a href="{{ path('produtos') }}" title="Exibe lista de produtos">Produtos</a></li>
    </ul>
{% endblock %}

{% block titulo %}<h4>Deseja realmente excluir o produto abaixo?</h4>{% endblock %}

{% block conteudo %}

    <form class="form-horizontal" action="{{ path('produtoDelete') }}" method="POST">
        <input type="hidden" name="_method" value="delete" />
        <div class="control-group">
            <label class='control-label' for='iId'>Id:</label>
            <div class="controls">
                <input type="text" class="span1 form-control" value="{{ produto.id }}" disabled />
            </div>
            <br />
            <label class='control-label' for='iNome'>Nome:</label>
            <div class="controls">
                <input type="text" id="iNome" name="nome" class="span8 form-control" value="{{ produto.nome }}" disabled />
            </div>
            <br />
            <label class='control-label' for='iValor'>Valor:</label>
            <div class="controls">
                <input type="number" id="iValor" name="valor" class="span2 form-control" value="{{ produto.valor }}"  min="0" disabled />
            </div>
            <br />
            <label class='control-label' for='iDescricao'>Descrição:</label>
            <div class="controls">
                <textarea id="iDescricao" name="descricao" class="span8 form-control" rows="7" disabled>{{ produto.descricao }}</textarea>
            </div>
            <br /><br />
            <div class="controls">
            <input type='hidden' name='id' value="{{ produto.id }}">
            <button type="submit" name="salvar" class="btn btn-danger">Excluir</button>
            <a href="{{ path('produtos') }}" title="Cancela operação e retorna aos produtos"><button type="button" class="btn">Cancelar</button></a>
            </div>

        </div>
    </form>

{% endblock %}


