{% extends 'layout.twig' %}

{% block opcoes %}
    <ul class="nav" xmlns="http://www.w3.org/1999/html">
        <li><a href="{{ path('produtoNovo') }}" title="Cadastra um novo produto">Novo Produto</a></li>
    </ul>
{% endblock %}

{% block conteudo %}
        <table class="table table-bordered table-hover">

            <thead>
                <tr style="background: #F5F5F5">
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Opções</th>
                </tr>
            </thead>

            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.valor }}</td>
                        <td>
                            <a href='/produtos/edit/{{ produto.id }}' title="Editar"><i class="icon-edit"></i></a>
                            &nbsp;&nbsp;
                            <a href='/produtos/delete/{{ produto.id }}' title="Excluir"><i class="icon-trash"></i></a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
{% endblock %}